<form class="new-feed-container" (ngSubmit)="submit()">
    <mat-form-field><input matInput placeholder="RSS Feed Name..." name="name" [(ngModel)]="name" /></mat-form-field>
    <mat-form-field><input matInput placeholder="RSS Feed Url..." name="url" [(ngModel)]="url" /></mat-form-field>
    <button type="submit" mat-stroked-button color="primary" [disabled]="!(name?.length > 0 && url?.length > 0)">
        + Add</button>
</form>

<section class="rss-feeds">
    <!-- Available RSS feeds -->
    <mat-card matTooltip="{{feed.name}}" *ngFor="let feed of feedList" class="feed" (click)="toggleSelect(feed)" [ngClass]="{'selected' : feed.selected}">
        <span class="name">{{feed.name}}</span> <a (click)="delete(feed.url)"><i class="fa fa-trash-alt"></i></a>
    </mat-card>
</section>