<mat-progress-bar mode="indeterminate" *ngIf="isLoading" [color]="'primary'"></mat-progress-bar>

<mat-form-field class="search-bar">
    <input matInput placeholder="Search..." (input)="search()" [(ngModel)]="searchTerm" />
    <h5 *ngIf="filteredItems?.length > 0">{{filteredItems?.length}} Items</h5>
</mat-form-field>

<div class="results">
    <mat-card class="result" *ngFor="let item of filteredItems">
        <img *ngIf="item.thumbnail" mat-card-md-image src="{{item.thumbnail}}" />
        <div>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.pubDate | date : 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
            <mat-card-content [innerHTML]="item.content"></mat-card-content>
        </div>
    </mat-card>
</div>