<mat-form-field class="search-bar">
  <input matInput placeholder="Search..." [formControl]="searchControl"/>
</mat-form-field>

<div class="results">
  <!-- Example result format -->
  <mat-card class="result">
    <img mat-card-md-image src="../../../assets/cat.jpg" />
    <div>
      <mat-card-title>RSS Feed Item Example</mat-card-title>
      <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos porro corporis voluptatibus. Doloremque aperiam aliquid rem sit amet corporis nisi quisquam cum adipisci repellat, esse iste, blanditiis distinctio minima?</mat-card-content>
    </div>
  </mat-card>
  <mat-card class="result">
    <div>
      <mat-card-title>RSS Feed Item Example With No Image</mat-card-title>
      <mat-card-content>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, repellat in. Veniam nisi eaque similique repellat quas amet at nemo incidunt quae officia qui soluta animi, alias tenetur eos eum.</mat-card-content>
    </div>
  </mat-card>
</div>
